/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:130px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  padding:10px;
  line-height:1.4em;
}

#tournament {
  font-size: 11px;
  line-height: 11px;
}

li.game{
  padding-left:0;
}

li.game.winner{
  font-weight:bold;
}
li.game span{
  display: inline-block;
  width: 1.25em;
  text-align: right;
  margin-right:5px;
}

li.game-top{
  border-bottom:1px solid #aaa;
  padding-left: 4px;
}

li.game-spacer{
  border-right:1px solid #aaa;
  min-height:20px;
  position: relative;
}

.round-right li.game-spacer {
  border-right:none;
  border-left:1px solid #aaa;
}

li.game-bottom{
  border-top:1px solid #aaa;
  padding-bottom: 6px;
}

li.game-spacer .team {
  position: absolute;
  bottom: 0;
  left: 4px;
  overflow-x: hidden;
}

.round-0 li.game-spacer .team {
  left: 0;
}

.round-0 li.game-top {
  padding-left: 0;
}

.seed {
  font-size: 80%;
}

.round-right {
  text-align: right;
}

.round-right .seed {
  float: right;
}

.round-right li.game-top {
  padding-left: 0;
  padding-right: 4px;
}

.round-right li.game-spacer .team {
  left: 0;
  right: 4px;
}


/*

.round-right .team, .round-right .game-top {
  text-align: right;
}

*/
