/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:130px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  padding:10px;
  line-height:1.4em;
}

#tournament {
  font-size: 11px;
  line-height: 11px;
}

li.game{
  padding-left:0;
}

li.game.winner{
  font-weight:bold;
}
li.game span{
  display: inline-block;
  width: 1.25em;
  text-align: right;
  margin-right:5px;
}

li.game-top{
  border-bottom:1px solid #aaa;
  padding-left: 4px;
}

li.game-spacer{
  border-right:1px solid #aaa;
  min-height: 14px;
  position: relative;
}

.round-right li.game-spacer {
  border-right:none;
  border-left:1px solid #aaa;
}

li.game-bottom{
  border-top:1px solid #aaa;
  padding-bottom: 6px;
}

li.game-spacer .team {
  position: absolute;
  bottom: 0;
  left: 4px;
  height: 12px;
  overflow: hidden;
}

.round-0 li.game-spacer .team {
  left: 0;
}

.round-0 li.game-top {
  padding-left: 0;
}

.seed {
  font-size: 80%;
}

.round-right {
  text-align: right;
}

.round-right .seed {
  float: right;
  margin-right: 0;
  padding-top: 1px;
}

.round-right li.game-top {
  padding-left: 0;
  padding-right: 4px;
}

.round-0.round-right li.game-top {
  padding-right: 0;
}

.round-right li.game-spacer .team {
  left: 0;
  right: 4px;
}

.round-0.round-right li.game-spacer .team {
  right: 0;
}

.finals {
  width: 200px;
  justify-content: space-around;
}

.finals li {
  width: 130px;
  flex-grow: 1;
}

.round.finals .spacer:first-child, .round.finals .spacer:last-child {
  flex-grow: 2;
}

.finals li.champion {
  border-bottom: 1px solid #aaa;
  text-align: center;
  align-self: center;
}

.finals li.final-left {
  border-bottom: 1px solid #aaa;
  align-self: flex-start;
  padding-left: 4px;
}

.finals li.final-right {
  border-bottom: 1px solid #aaa;
  align-self: flex-end;
  text-align: right;
  padding-right: 4px;
}

.final, .champion {
  position: relative;
}

.final .team, .champion .team {
  position: absolute;
  bottom: 0;
}

.final.final-left .team {
  left: 4px;
}

.final.final-right .team {
  right: 4px;
}

.champion .team {
  left: 4px;
  right: 4px;
  text-align: center;
}

.finals li.randomizer {
  align-self: center;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
